@model IEnumerable<BookingStore.Models.Book>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="/Home/Create">Create</a>
<div>
    <h3>Распродажа книг</h3>
    <table>
        <tr class="header">
            <td><p>Название книги</p></td>
            <td><p>Автор</p></td>
            <td><p>Цена</p></td>
            <td></td>
        </tr>
        @foreach (BookingStore.Models.Book b in Model)
        {
            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.Author</p></td>
                <td><p>@b.Price</p></td>
                <td><p><a href="/Home/Buy/@b.Id">Купить</a>
                    <a href="/Home/Delete/@b.Id">Delete</a>
                    <a href="/Home/EditBook/@b.Id">EditBook</a>
                    </p></td>
            </tr>
        }
    </table>
</div>